:root {
  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
  --c-white: #FFF;
  --c-black: #000;
  --c-kogane-gold: #E0B420;
  --c-nordic-grass-green: #22A45A;
  --c-artist-blue: #00353B;
  --c-scallop-shell: #FCD8CA;
  --c-midnight-express: #1F2937;
  --c-midnight-navy: #374151;
  --c-mystical-shade: #4B5563;
}

body {
  font-family: var(--ff-dm-sans);
  background-color: var(--c-white);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  outline: 1px dashed red;
  margin-inline: auto;
  max-width: min(100%, 1300px);
  padding-inline: 10px;
}

.btn {
  padding: 12px;
  display: inline-flex;
  justify-content: center;
  font-family: var(--ff-dm-sans);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  border-radius: 8px;
}

.btn_white {
  border: 1px solid #fff;
  color: var(--c-midnight-express);
  background-color: var(--c-white);
}

.btn_green {
  border: 1px solid var(--c-nordic-grass-green);
  color: var(--c-white);
  background-color: var(--c-nordic-grass-green);
}

.btn_dark {
  border: 1px solid var(--c-midnight-express);
  color: var(--c-white);
  background-color: var(--c-midnight-express);
}

.title {
  margin-bottom: 28px;
  font-family: var(--ff-poppins);
  font-weight: 400;
  line-height: 1.2;
}

.title_light {
  color: var(--c-white)
}

.title_dark {
  color: var(--c-midnight-express);
}

.title_centered {
  text-align: center;
}

.title_x1 {
  font-size: clamp(1.875rem, 2.889vw + 1.153rem, 3.5rem);
}

.title_x2 {
  font-size: clamp(1.875rem, 2vw + 1.375rem, 3rem);
}

.title_x3 {
  font-size: clamp(1.25rem, 0.444vw + 1.139rem, 1.5rem);
  line-height: 1.4;
}

.descr {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: clamp(0.938rem, 0.333vw + 0.854rem, 1.125rem);
  line-height: 1.5;
}

.badge {
  padding: 4px 8px;
  display: inline-flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--c-midnight-express);
  border-radius: 4px;
}

.badge_light {
  background-color: var(--c-white);
}

.badge_pink {
  background-color: var(--c-scallop-shell);
}

/* Award */
.award {
  position: relative;
  min-height: 48px;
  display: grid;
  grid-template-columns: auto 0;
  align-items: center;
  background-color: #f5f5f5;
}

.award__text {
  justify-self: center;
  font-size: 15px;
  color: #4b5563;
}

.award__btn {
  margin-right: 40px;
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
  justify-self: right;
  cursor: pointer;
}

/* Header */
.header {
  margin-bottom: 2px;
  padding-block: 11px;
  min-height: 72px;
  background-color: var(--c-artist-blue);
}

.header__inner {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.header__nav {
  grid-column: 2;
  color: var(--c-white);
}

.site-nav__list {
  display: flex;
  gap: 24px;
}

.site-nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.header__btn-search,
.header__btn-cart {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.header__btn-search svg,
.header__btn-cart svg {
  fill: currentColor;
  flex-shrink: 0;
}

.header__options {
  grid-column: 3;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--c-white);
}

.header__btn-sign-up {
  min-width: 106px;
}

/* Main */
.main {
  background-color: var(--c-white);
}

/* Entry */
.entry {
  padding-bottom: 377px;
  background-color: var(--c-artist-blue);
}

.entry__inner {
  padding-block: 55px 73px;
  display: grid;
  grid-template-columns: 1fr minmax(400px, 1fr);
  gap: 80px;
}

.entry__descr {
  max-width: 565px;
  color: var(--c-white);
}

.entry__buttons {
  margin-bottom: 48px;
  display: flex;
  gap: 16px;
}

.entry__explore-btn {
  min-width: 172px;
}

.entry__video-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--c-white);
}

.entry__video-btn svg {
  fill: currentColor;
}

.entry__reviews {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.entry__users-img {
  flex-shrink: 0;
}

.entry__rating-stars {
  margin-bottom: 6px;
  display: flex;
  justify-content: flex-end;
  gap: 2px;
}

.entry__rating-star {
  flex-shrink: 0;
  font-size: 24px;
  color: var(--c-kogane-gold)
}

.entry__rating-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--c-white);
}

.entry__img-wrapper {
  position: relative;
}

.entry__decor {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 34.8%;
  height: auto;
}

.entry__big-img {
  border-radius: 24px;
}

.entry__note {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

/* About Us */
.about-us {
  --min-height: 425px;
  margin-bottom: calc(-1 * var(--min-height) / 2 + 160px);
  transform: translateY(-50%);
}

.about-us__inner {
  padding-block: 64px;
  min-height: var(--min-height);
  text-align: center;
  background-color: var(--c-scallop-shell);
  border-radius: 24px;
}

.about-us__badge {
  margin-bottom: 11px;
}

.about-us__descr {
  margin-inline: auto;
  max-width: 730px;
  text-align: center;
  color: var(--c-midnight-navy);
}

/* Feature */
.feature {
  padding-bottom: 128px;
}

.feature__inner {
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 576px));
  justify-content: space-between;
  align-items: center;
  gap: 30px
}

.feature_reverse .feature__col_text {
  order: -1;
}

.feature__img {
  border-radius: 24px;
}

.feature__descr {
  color: var(--c-mystical-shade);
}

.feature__buttons {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.feature__link {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Trending */
.trending {
  padding-bottom: 128px;
  text-align: center;
}

.trending__badge {
  margin-bottom: 11px;
}

.trending__descr {
  margin-bottom: 63px;
  margin-inline: auto;
  max-width: 730px;
  color: var(--c-mystical-shade);
}

.trending__list {
  display: flex;
  gap: 32px;
}

.trending__item {
  width: calc((100% - (2 * 32px)) / 3);
  text-align: initial;
}

.tranding__course {
  height: 100%;
}

.course {
  position: relative;
  padding: 32px 24px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: var(--c-white);
  background-color: var(--c-artist-blue);
  border-radius: 16px;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

.course__title {
  margin-bottom: 15px;
}

.course__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.course__btn {
  z-index: 2;
  margin-top: auto;
}

.course__img {
  position: absolute;
  width: calc(315/400 * 100%);
  height: auto;
  bottom: calc(-45 / 500 * 100%);
  right: calc(-105 / 405 * 100%);
  border-radius: 100%;
}

/* Join Us */
.join-us {
  padding-bottom: 191px;
}

.join-us__inner {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.join-us__col_text {
  padding: 64px;
  background-color: var(--c-scallop-shell);
}

.join-us__badge {
  margin-bottom: 11px;
}

.join-us__descr {
  color: var(--c-midnight-navy);
}

.join-us__img {
  object-fit: cover;
  height: 100%;
}

.join-us__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}

.join-us__item-img {
  margin-bottom: 32px;
}

.join-us__item-title {
  margin-bottom: 24px;
}

.join-us__item-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--c-mystical-shade);
}

/* Benefits */
.benefits {
  padding-bottom: 128px;
  text-align: center;
}

.benefits__badge {
  margin-bottom: 11px;
}

.benefits__title {
  margin-inline: auto;
  max-width: 691px;
}

.benefits__descr {
  margin-bottom: 79px;
  margin-inline: auto;
  max-width: 730px;
}

.benefits__inner {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(auto, 240px) minmax(300px, auto) minmax(auto, 240px);
  grid-template-rows: auto auto;
  grid-template-areas:
    'i1 pic i3'
    'i2 pic i4';
  justify-content: center;
  align-items: end;
  column-gap: calc(96 / 1300 * 100%);
  row-gap: 63px;
}

.benefits__item_n1 {
  grid-area: i1;
}

.benefits__item_n2 {
  grid-area: i2;
  align-self: start;
}

.benefits__item_n3 {
  grid-area: i3;
}

.benefits__item_n4 {
  grid-area: i4;
  align-self: start;
}

.benefits__img-wrapper {
  grid-area: pic;
  align-self: start;
}

.benefits__item-img {
  margin-bottom: 24px;
  height: 100%;
  width: auto;
  object-fit: cover;
}

.benefits__item-title {
  margin-bottom: 15px;
}

.benefits__item-descr {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--c-mystical-shade);
}